@charset "utf-8";

/* font */
/* pretendard */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  color: #333;
  background: #000;
}

/* header */
header {
  width: 100%;
  height: calc(100vh - 100px);
  background: #000;

  #imgslide_wrap {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    #loading_title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) skew(-15deg);
      color: #ffbf10;
      font-size: 50px;
    }

    .random_title {
      position: absolute;
      bottom: 370px;
      left: 100px;
      font-size: 70px;
      color: #fff;
      text-shadow: #555 1px 0 10px;
      opacity: 0;
      z-index: 2;
      font-weight: 600;
    }

    #button_wrap {
      display: flex;
      gap: 15px;
      position: absolute;
      bottom: 300px;
      left: 100px;
      opacity: 0;

      #play_btn {
        width: 120px;
        height: 50px;
        background: #ffbf10;
        color: #fff;
        font-size: 15px;
        border: none;
        border-radius: 20px;
        box-shadow: 1px 1px 10px #555;
        transition: all 0.3s;

        &:hover {
          background: #fff;
          color: #ffbf10;
        }
      }

      #info_btn {
        width: 150px;
        height: 50px;
        background: #fff;
        color: #ffbf10;
        font-size: 15px;
        border: none;
        border-radius: 20px;
        opacity: 0.9;
        box-shadow: 1px 1px 10px #555;
        transition: all 0.3s;

        &:hover {
          background: #ffbf10;
          color: #fff;
          opacity: 1;
        }
      }
    }
  }
}

/* main */
main {
  width: 100%;
  background: #000;
  padding: 0 20px;
  position: relative;

  /* searchbar */
  #search_wrap {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    gap: 30px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 50;

    #home_logo {
      width: 100px;
      height: 50px;
      font-size: 30px;
      text-align: center;
      line-height: 50px;
      color: #ffbf10;
      cursor: pointer;
      font-weight: bold;
      transition: color 0.3s;
      transform: skewX(-15deg);

      &:hover {
        color: #fff;
      }
    }

    #search_input {
      width: 900px;
      height: 50px;
      border-radius: 20px;
      padding: 0 20px;
      font-size: 17px;
      border: none;
      margin-right: 20px;
    }

    .header_btn {
      width: 100px;
      height: 50px;
      font-size: 17px;
      background: #fff;
      border-radius: 20px;
      cursor: pointer;
      border: none;
      transition: background 0.3s;

      &:hover {
        background: #ffbf10;
      }
    }

    #bookmark {
      justify-self: flex-end;
    }
  }

  /* navi */
  #nav_wrap {
    width: 100%;
    height: 50px;
    padding: 30px;
    position: sticky;
    top: 100px;
    z-index: 51;
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;

    nav {
      width: 95%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      #navi {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
          color: #fff;
          font-size: 20px;
          font-weight: 600;
          width: 200px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          cursor: pointer;
          transition: transform 0.3s, color 0.3s;

          &:hover {
            transform: scale(1.1);
            color: #ffbf10;
          }
        }

        li.activeNavi {
          color: #ffbf10;
        }
      }
    }
  }

  /* movie card */
  #movie_card_wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(400px 1fr));
    gap: 20px;
    padding: 20px;

    .movie_card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.05);
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  /* more button */
  #more_btn {
    background: none;
    color: #fff;
    border: none;
    position: relative;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    font-size: 20px;
    line-height: 70px;
    cursor: pointer;
    border-top: 1px solid #fff;
    transition: color 0.3s;
    margin-bottom: 50px;

    &:hover {
      color: #ffbf10;
    }
  }
}

/* modal */
#modal_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 51;

  #modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 800px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .modal_text_wrap {
    width: 1100px;
    height: 700px;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    z-index: 55;
    color: #fff;
    display: flex;

    .modal_btn {
      color: #fff;
      position: absolute;
      background: none;
      border: none;
      cursor: pointer;
      opacity: 0.5;
      width: 40px;
      height: 40px;
    }

    #close_btn {
      top: 50px;
      right: 30px;
      background-image: url(./images/close_white.png);
      background-size: cover;
      transition: all 0.3s;

      &:hover {
        background-image: url(./images/close_yellow.png);
        background-size: cover;
        opacity: 1;
      }
    }

    #bookmark_btn {
      top: 50px;
      right: 80px;
      background-image: url(./images/bookmark_white.png);
      background-size: cover;
      transform: scale(0.95);
      transition: all 0.3s;

      &:hover {
        background-image: url(./images/fullheart_yellow.png);
        background-size: cover;
        opacity: 1;
      }
    }

    .modal_title {
      position: absolute;
      top: 50px;
      left: 80px;
      width: 700px;
      height: 70px;
      font-size: 30px;
      line-height: 70px;
    }

    .modal_info {
      position: absolute;
      top: 380px;
      left: 80px;
      width: 500px;
      font-size: 15px;
      border-top: 1px solid #fff;
      padding-top: 30px;
      margin: 10px 0;
    }

    .modal_day {
      position: absolute;
      top: 590px;
      left: 80px;
      font-size: 20px;
    }

    .modal_star {
      position: absolute;
      top: 610px;
      left: 80px;
      font-size: 30px;
      color: #ffbf10;
    }
  }
}

#modal_wrap.activeModal {
  display: block;
}

/* footer */
footer {
  width: 100%;
  height: 200px;
  border-top: 1px solid #fff;
}
